.login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 55%;
  background-color: #e5fdd1;
  /* padding: 35px; */
  z-index: 999;
  border-radius: 10px;
  font-family: "Noto Serif Ahom", serif;
}

.login h3 {
  text-align: center;
  margin-top: 30px;
  color: #285430;
}

.login .container {
  display: flex;
  flex-direction: column;
}

.login h4 {
  text-align: center;
  margin-top: -5px;
  color: #5f8d4e;
}

.login .loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -5px;
}

.login input {
  background-color: #e5fdd1;
  line-height: 31px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #a9af7e;
  color: #557153;
  font-size: 12px;
  width: 150px;
  /* margin-top: -10px; */
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.login button {
  font-family: "Noto Serif Ahom", serif;
  font-size: 16px;
  background-color: #e5d9b6;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 25px;
  color: #557153;
  /* margin-top: 10px; */
}

.login .errMsg {
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.login p {
  text-align: center;
  /* margin-top: 8px; */
  color: #557153;
  font-size: 12px;
}

.login .registerLink {
  margin-top: -10px;
}

@media only screen and (orientation: landscape) and (min-width: 600px) {
  .login input {
  font-size: 14px;
  width: 180px;
  }
}
@media only screen and (orientation: portrait) and (min-width: 600px) {
  .login {
    height: 35%;
  }
}

/* @media only screen and (min-width: 768px) {
  .login {
   width: 50%;
  height: 65%;
}
  
 .login h3 {
  font-size: 30px;
}
  
.login h4 {
  font-size: 15px;
}

.login .loginForm {
  margin-top: 5px;
}

.login input {
  font-size: 15px;
  width: 280px;
  margin-top: 10px;
}
}
 */
@media only screen and (min-width: 992px) {
.login {
   width: 40%;
  height: 55%;
}
  .login h3 {
/*   margin-top: 30px; */
  font-size: 30px;
}
  
.login h4 {
  margin-top: -15px;
  font-size: 15px;
}

.login .loginForm {
  margin-top: -10px;
}

.login input {
  font-size: 13px;
  width: 280px;
  margin-top: 0px;
}
}

@media only screen and (min-width: 1200px) {
  .login{
    height: 60%;
  }
 .login h3 {
/*   margin-top: 30px; */
  font-size: 40px;
}
  
.login h4 {
/*   margin-top: -5px; */
  font-size: 25px;
}

.login .loginForm {
  margin-top: 5px;
}

.login input {
  font-size: 20px;
  width: 300px;
  margin-top: 10px;
}
  .login button {
  font-size: 20px;
  width: 190px;
  height:30px;
  margin-top: 10px;
}

.login .errMsg {
  font-size: 15px;
}

.login p {
  margin-top: 8px;
  font-size: 15px;
}

.login .registerLink {
  margin-top: -5px;
}
}
