.bottomRight{
    display: flex;
    height: 50px;
    background-color: #E5FDD1;
    align-items: center;
    
}

.bottomRight .msgInput{
    background-color: #E5FDD1;
    outline: 0;
    border: none;
    flex: 1;
    padding: 15px;
    cursor: pointer;
}

.bottomRight .msgIcons{
    color:#5c9480;
    margin-right: 5px;
    cursor: pointer;
}

.bottomRight .msgIcons:hover{
color:#182b24 ;
}

.bottomRight .send{
    margin-left: 10px;
margin-right: 10px;
font-family: "Noto Serif Ahom", serif;
width: 50px;
height: 25px;
border: none;
border-radius: 5px;
background-color: #00337C;
color: white;
cursor: pointer;
}

.bottomRight .send:hover{
    background-color: #0554c2;
}