.home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 75%;
  height: 90%;
  /* background-color: #e5fdd1; */
  z-index: 999;

  font-family: "Noto Serif Ahom", serif;
  display: flex;
  color: white;
}

/* .home .left {
  flex: 1;
  background-color: #557153;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.home .topMenuLeft {
  background-color: #395144;
  display: flex;
  align-items: center;
  height: 5%;
  padding: 5px 8px 5px 8px;
  border-top-left-radius: 10px;
}

.home .appName {
  flex: 1;
  font-size: 15px;
  margin-top: 20px;
  font-weight: bold;
}

.home .username {
  font-size: 12px;
}

.home .userImg {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  object-fit: cover;
  margin-right: 5px;
}

.home .logout {
  font-size: 10px;
  margin-left: 10px;
  font-family: "Noto Serif Ahom", serif;
  background-color: #e5d9b6;
  border: none;
  border-radius: 5px;
  color: #557153;
  height: 15px;
}

.home .find {
  line-height: 30px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: white;
  font-size: 12px;
  background-color: #557153;
  width: 337px;
  color: white;
}

.home .find::placeholder {
  color: rgb(235, 225, 225);
  padding-left: 10px;
  font-family: "Noto Serif Ahom", serif;
}

.home .bottomLeft {
  display: flex;
  gap: 15px;
  padding: 10px;
}

.home .contactImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.home .contactInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 5px;
}

.home .contactName {
  margin: 0;
  font-size: 15px;
}

.home .lastMsg {
  font-size: 10px;
  margin-top: -5px;
  color: lightgray;
} */

/* .home .right {
    display: flex;
    flex-direction: column;
  flex: 2;
  background-color: #D7E9B9;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.home .topMenuRight{
    background-color: #749F82;
    display: flex;
    align-items: center;
  height: 5%;
  padding: 5px 8px 5px 8px;
  border-top-right-radius: 10px;
}

.home .contactNameRight{
    flex: 1;
    margin-top: 19px;
}
.home .rightMenuIcons{
    margin-left: 10px;
}
.home .bottomRight{
    display: flex;
    margin-top: 467px;
    height: 50px;
    background-color: #E5FDD1;
    align-items: center;
}

.home .msgInput{
    background-color: #E5FDD1;
    outline: 0;
    border: none;
    flex: 1;
    padding: 15px;
}

.home .msgIcons{
    color:#3C6255;
    margin-right: 5px;
}

.home .send{
    margin-left: 10px;
margin-right: 10px;
font-family: "Noto Serif Ahom", serif;
width: 50px;
height: 25px;
border: none;
border-radius: 5px;
background-color: #00337C;
color: white;
} */