.home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 75%;
  height: 90%;
  /* background-color: #e5fdd1; */
  z-index: 999;

  font-family: "Noto Serif Ahom", serif;
  display: flex;
  color: white;
}
@media only screen and (max-width: 500px) {
  .home {
    top: 10px;
    right: 10px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1100px) {
  .home {
    right: 50px;
  }
}
