.topMenuLeft {
  background-color: #395144;
  display: flex;
  align-items: center;
  height: 5%;
  padding: 11px 10px 12px 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
  justify-content: space-between;
}

.topMenuLeft .appName {
  /* flex: 2; */
  font-size: 15px;
  margin-top: 20px;
  font-weight: bold;
  width: 80px;
}

.topMenuLeft .userInfo {
  /* flex: 1; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* justify-content: space-between; */
  height: 45px;
  flex: 1;
}

.topMenuLeft .username {
  font-size: 12px;
  margin-right: 5px;
}

.topMenuLeft .userImg {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
  margin-right: 5px;
}

.topMenuLeft .menuIcon {
  font-size: 25px;
  cursor: pointer;
}

.topMenuLeft .menuIcon:hover {
  border-radius: 3px;
  color: #232c27;
}

.topMenuLeft .buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
  left: 230px;
  top: 45px;
  width: 100px;
  height: 70px;
  background-color: white;
  border-radius: 5px;
}

.topMenuLeft .logout {
  font-size: 12px;
  margin-left: 10px;
  font-family: "Noto Serif Ahom", serif;
  background-color: #e40303;
  border: none;
  border-radius: 3px;
  color: rgb(245, 253, 253);
  height: 20px;
  cursor: pointer;
}

.topMenuLeft .logout:hover {
  background-color: #a70808;
  color: white;
}

.topMenuLeft .updateButton {
  font-size: 12px;
  margin-left: 10px;
  font-family: "Noto Serif Ahom", serif;
  background-color: #e5d9b6;
  border: none;
  border-radius: 3px;
  color: #557153;
  height: 20px;
  cursor: pointer;
}

.topMenuLeft .updateButton:hover {
  background-color: #aca286;
  color: white;
}

@media only screen and (max-width: 500px) {
  .topMenuLeft .appName {
    font-size: 8px;
    width: 55px;
    margin: 0;
  }

  .topMenuLeft .username {
    font-size: 10px;
  }

  .topMenuLeft .userImg {
    width: 23px;
    height: 23px;
  }

  .topMenuLeft .menuIcon {
    font-size: 15px;
    margin-bottom: 2px;
    margin-right: -5px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1100px) {
  .topMenuLeft .appName {
    font-size: 12px;
  }

  .topMenuLeft .menuIcon{
    font-size: 18px;
    margin-bottom: 2px;
  }
}
